/*breadcrumbs*/

.breadcrumbs-item {
	font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
	color: #1E0606;
}

.breadcrumbs-active {
	opacity: 0.5;
}

/*description*/

.products {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

.modal-window {
	font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
	color: #1E0606;
	background-color: #E5EAF8;
}

.contact-info-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #C29974;
}