/*breadcrumbs*/

.breadcrumbs-item {
	font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
  padding-right: 20px;
}

.breadcrumbs-active {
	opacity: 0.5;
}

.breadcrumbs-list {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 50px;
}

.breadcrumbs-item-active:hover {
  opacity: .75;
}

/*description*/

.products {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin-top: 0;
}

.contact-box {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.products {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

.contact-info {
	margin-left: 120px;
	width: 380px;
	position: relative;
	margin-bottom: 60px;
}

.contact-info-text {
  margin-top: 0;
  margin-bottom: 20px;
}

.contact-info-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #C29974;
  margin: 0;
}

/* modal */

.modal-window {
	font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
	color: #1E0606;
	background-color: #E5EAF8;
	padding: 22px 40px 42px 40px;
	margin: auto;
	position: relative;
	margin-bottom: 60px;
}

.submit-button {
	border: none;
	display: flex;
	margin-top: 20px;
}

.form-checkbox:checked + .form-checkbox-indicator {
  background: url(/images/Check.svg) no-repeat; 
}

.form-checkbox-indicator {
	height: 20px;
	width: 20px;
	border: 2px solid #C29974;
	border-radius: 3px;
	margin-right: 15px;
}

.checkbox-label {
	display: flex;
	align-items: center;
	padding-top: 20px;
}

.modal-bg {
	display: flex;
}

/* Forms */

.form-row-short {
	width: 290px;
}

.form-row {
	position: relative;
	display: flex;
	justify-content: space-between;
	padding-top: 43px;
	width: 600px;
}

.form-label {
	top: 20px;
	position: absolute;
}

.form-input {
	padding: 13px 19px;
	width: 100%;
	background-color: #FFFFFF;
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.form-input:hover {
	box-shadow: 1px 1px 0 #cccccc inset, -1px -1px 0 #cccccc inset;
}

.form-input:active {
	box-shadow: 0 0 0 #cccccc inset, 0 0 0 #cccccc inset;
}

.input-message {
	height: 150px;
	width: 100%;
}

