/*breadcrumbs*/

.breadcrumbs-item {
	font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
  padding-right: 20px;
}

.breadcrumbs-active {
	opacity: 0.5;
}

.breadcrumbs-list {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 50px;
}

/*filter*/

.filter {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding-top: 42px;
  padding-bottom: 44px;
  padding-right: 85px;
}

.filter-field{
	background-color: rgba(125, 151, 218, 0.2);
}

.filter-legend {
	font-weight: bold;
}

.fieldset-color {
  display: flex;
}

.fieldset-delivery {
  display: flex;
}

fieldset {
  border:0 none;
}

/*toy list*/

.products {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin-top: 0;
}

.toy {
  margin-top: 50px;
  margin-bottom: 53px;

}

.products {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

.toy-item {
	width: 380px;
  height: 497px;
  position: relative;
}

.toy-list {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 0;
}

.toy-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  display: flex;
  justify-content: center;
  padding-top: 30px;
}

.toy-cost {
	font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  display: flex;
  justify-content: center;
  padding-top: 15px;
}

.toy-item:hover:before {
  content: 'LEARN MORE';
  color: #1E0606;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  padding-top: 82px;
  padding-left: 11px;
	position: absolute;
	top: 89px;
	left: 87px;
	width: 207px;
  height: 207px;
  background-color: #E5EAF8;
  opacity: .9;
}

.toy-item:active:before {
  opacity: .67;
}

/*selector*/

.selector {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 63px;
  display: flex;
  justify-content: space-between;
}

.selector-pages {
  display: flex;
}

.selector-item {
  padding-left: 32px;
  padding-right: 32px;
}

.selector-item-active {
  color: #C29974;
}

.selector-item:hover {
  opacity: .75;
}