/*breadcrumbs*/

.breadcrumbs-item {
	font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1E0606;
  padding-right: 20px;
}

.breadcrumbs-active {
	opacity: 0.5;
}

.breadcrumbs-list {
  display: inline-flex;
  margin-top: 0;
  margin-bottom: 49px;
}

.breadcrumbs-item-active:hover {
  opacity: .75;
}

.products {
  margin-bottom: 17px;
}

/*filter*/

.filter {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  padding: 42px 105px 17px 11px;
}

/*range*/

.slidecontainer {
  width: 100%;
}

.slider {
  -webkit-appearance: none;
  width: 188px;
  height: 4px;
  background-color: #000000;
  outline: none;
  opacity: 0.5;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 24px;
  height: 24px;
  border: 0;
  background: url(/images/Range.svg);
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 24px;
  height: 24px;
  border: 0;
  background: url(/images/Range.svg);
  cursor: pointer;
}

.range-cost {
  margin: 16px -11px 0 -5px;
  display: flex;
  justify-content: space-between;
}

.filter-field{
	background-color: rgba(125, 151, 218, 0.2);
}

.filter-legend {
  font-weight: bold;
  padding-bottom: 12px;
}

.fieldset-color {
  display: flex;
  padding-left: 45px;
}

.fieldset-delivery {
  display: flex;
  padding-left: 62px;
}

.fieldset-amount {
  padding-left: 6px;
}

fieldset {
  border:0 none;
}

/*checkbox*/

.form-checkbox:checked + .form-checkbox-indicator {
  background: url(/images/Check.svg) no-repeat; 
  background-color: #FFFFFF;;
}

.form-checkbox-indicator {
	height: 19px;
	width: 19px;
	border: 2px solid #C29974;
	border-radius: 3px;
	margin-right: 8px;
}

.checkbox-label {
	display: flex;
	align-items: center;
  padding-bottom: 18px;
  cursor: pointer;
}

.checkbox-label:hover {
  text-decoration: underline;
  }

/*radio*/

.radio-label {
	display: flex;
	align-items: center;
  padding-bottom: 12px;
  cursor: pointer;
}

.radio-label:hover {
text-decoration: underline;
}

.form-radio-indicator {
  display: block;
  height: 20px;
	width: 20px;
	border: 2px solid #C29974;
	border-radius: 100%;
  margin-right: 10px;
  position: relative;
}

.form-radio:checked + .form-radio-indicator:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 12px;
  width: 12px;
  border-radius: 100%;
  background-color: #C29974;
}

.fieldset-button {
  margin-top: 36px;
  border: none;
}

.radio-box-label {
  cursor: pointer;
}

.form-radio-box-indicator {
  display: block;
  height: 35px;
	width: 80px;
	border: none;
  background-color: #FFFFFF;
  padding-top: 7px;
  text-align: center;
}

.form-radio-box:checked + .form-radio-box-indicator {
  background-color: #F3D0DB;
}

.form-radio-box:hover + .form-radio-box-indicator {
  background-color: #EDDEEB;
}

.radio-box-container {
  display: flex;
}

/*toy list*/

.products {
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin-top: 0;
}

.toy {
  margin-top: 60px;
  margin-bottom: 33px;
}

.products {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

.toy-item {
	width: 380px;
  position: relative;
  margin-bottom: 45px;
}

.toy-list {
	display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 20px;
  margin-top: 0;
}

.toy-title {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  display: flex;
  justify-content: center;
  padding-top: 27px;
}

.toy-cost {
	font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  color: #1E0606;
  display: flex;
  justify-content: center;
  padding-top: 16px;
}

.toy-select:hover:before {
  content: 'LEARN MORE';
  color: #1E0606;
  font-family: 'Montserrat', sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 29px;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
  display: flex;
  justify-content: center;
  align-items: center;
	position: absolute;
	top: 89px;
	left: 87px;
	width: 207px;
  height: 207px;
  background-color: #E5EAF8;
  opacity: .9;
}

.toy-select:active:before {
  opacity: .67;
}

/*selector*/

.selector {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
  margin-bottom: 48px;
  display: flex;
  justify-content: space-between;
}

.selector-pages {
  display: flex;
}

.selector-item {
  padding-left: 32px;
  padding-right: 32px;
}

.selector-item-active {
  color: #C29974;
}

.selector-item:hover {
  opacity: .75;
}