/*breadcrumbs*/

.breadcrumbs-item {
	font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
	color: #1E0606;
}

.breadcrumbs-active {
	opacity: 0.5;
}

/*description*/

.products {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

/*filter*/

.filter{
	background-color: rgba(125, 151, 218, 0.2);
}

.filter-legend {
	font-weight: bold;
}

/*toy*/

.toy-list {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
}

.toy-cost {
	font-weight: bold;
  font-size: 16px;
  line-height: 22px;
}

/*selector*/

.selector {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  text-transform: uppercase;
  color: #1E0606;
}
