body { 
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
}

a { 
  text-decoration: none; 
  color: #000000;
}

p {
  line-height: 22px;
}

html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

.container {
  margin: 0 auto;

  width: 100%;
  max-width: 1220px;

  padding: 0 20px;
}

.list-point-none {
  list-style-type: none;
  padding-left: 0;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
  padding: 9px 22px;
  cursor: pointer;
}

.button:hover {
  background-color: #C29974;
  transition-duration: .5s;
}

.button:active {
  background-color: #CFAF91;
}

button:disabled {
  color: #E1E1E1;
  background-color: #C1C1C1;
}

/* header */

.header {
  display: flex;
  padding-top: 47px;
  padding-bottom: 54px;
}

.header-logo {
  height: 58px;
}

.header_active:hover {
  opacity: 0.5;
}

.header_active:active {
  opacity: 0.2;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-list-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: 58px;
  align-items: center;
  margin-bottom: 20px;
}

.header-list-contacts {
  display: flex;
  width: 131px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-right: 3px;
}

.header-nav_item {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  text-transform: uppercase;
  margin-right: 20px;
}

.header-contact {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  text-transform: uppercase;
}

/*footer*/

.footer {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #434343;
}

.footer-item {
  color: #FFFFFF;
}

.footer-nav-list, .footer-customer-info-list {
  margin-top: 28px;
  margin-bottom: 13px;
}

.footer-nav-title, .footer-customer-info-title, .footer-connect-title {
  color: #AAAAAA;
  padding-bottom: 23px;
  border-bottom: solid 1px #666666;
  width: 380px;
  margin: 0;
}

.web-developer {
  color: #A2A2A2;
}

.footer-nav-item, .customer-info-item {
  padding-bottom: 15px;
}


.footer-item:hover {
  opacity: 0.5;
}

.footer-item:active {
  opacity: 0.2;
}

.footer-row {
  padding-top: 23px;
  padding-bottom: 100px;
  border-top: solid 1px #666666;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  flex-wrap: wrap;
}

.footer-info {
  display: flex;
  flex-direction: row;
}

.rating-text {
  padding-right: 24px;
  margin-left: 0;
  margin: 0;
}

.rating-area {
  display: flex;
  flex-direction: row-reverse;
	overflow: hidden;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 20px;
	padding: 0;
	cursor: pointer;
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
}

input:checked ~ .rating-text {
  color: #C29974;
}

input:hover ~ .rating-text {
  color: #C29974;
}

.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #C29974;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #836E5B;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #836E5B;
}

.copyright {
  padding-left: 154px;
  padding-right: 109px;
}

.footer-connect-form {
  margin-top: 25px;
  border: 1px solid;
  border-color: transparent;
}

.footer-connect-form:hover {
  border-color: #FFFDFD;
  cursor: pointer;
}

.footer-connect-form:active {
  background-color: #FFFFFF;
  color: #000000;
}

.footer-connect-form {
  width: 300px;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  color: #EBEBEB;
  padding-left: 15px;
  background-color:  #666666;
}

.button-connect {
  border: none;
  height: 40px;
  margin-left: -4px;
}

.social-list {
  display: flex;
  padding-top: 10px;
}

.web-developer:hover {
  text-decoration-line: underline;
}

.web-developer:active {
  text-decoration-line: underline;
}

.social-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  width: 30px; 
  height: 30px;
  flex: 0 0 30px;
  background: #666666;
  border-radius: 50%;
  margin-right: 10px;
}

.social-item:hover {
  opacity: 0.5;
}

.social-item:active {
  opacity: 0.2;
}

.hidden {
	position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}


