body { 
  font-family: 'Open Sans', sans-serif; 
  margin: 0;
}

a { 
  text-decoration: none; 
}

html { 
  box-sizing: border-box; 
}

*, 
*::before, 
*::after { 
  box-sizing: inherit; 
}

img { 
  max-width: 100%; 
}

.container {
  margin: 0 auto;

  width: 100%;
  max-width: 1220px;

  padding: 0 20px;
}

.list-point-none {
  list-style-type: none;
  padding-left: 0;
}

.button {
  font-weight: bold;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  color: #FFFFFF;
  background-color: #000000;
  padding: 9px 22px;
  cursor: pointer;
}

.button:hover {
  background-color: #C29974;
}

.button:active {
  background-color: #CFAF91;
}

button:disabled {
  color: #E1E1E1;
  background-color: #C1C1C1;
}

/* header */

.header {
  display: flex;
  padding-top: 50px;
  padding-bottom: 60px;
}

.header-logo {
  width: 100px;
  height: 52px;
}

.header-logo:hover {
  opacity: 0.5;
}

.header-logo:active {
  opacity: 0.2;
}

.header-nav_item:hover {
  opacity: 0.5;
}

.header-nav_item:active {
  opacity: 0.2;
}

.search-link:hover {
  opacity: 0.5;
}

.search-link:active {
  opacity: 0.2;
}

.header-contact:hover {
  opacity: 0.5;
}

.header-contact:active {
  opacity: 0.2;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.header-list-links {
  display: flex;
  flex-wrap: wrap;
  margin-left: 60px;
  align-items: center;
}

.header-list-contacts {
  display: flex;
  width: 131px;
  justify-content: space-between;
  align-items: center;
}

.header-nav_item {
  font-weight: normal;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  text-transform: uppercase;
  margin-right: 20px;
}

.header-contact {
  font-weight: bold;
  font-size: 14px;
  line-height: 19px;
  color: #1E0606;
  text-transform: uppercase;
}

/*footer*/
.footer {
  font-family: Open Sans;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #FFFFFF;
  background-color: #434343;
}

.footer-nav-title, .footer-customer-info-title, .footer-connect-title {
  color: #AAAAAA;
  padding-bottom: 23px;
  border-bottom: solid 1px #666666;
  width: 380px;
}

.web-developer {
  color: #A2A2A2;
}

.footer-nav-item, .customer-info-item {
  padding-bottom: 15px;
}

.footer-nav-item:hover {
  opacity: 0.5;
}

.footer-nav-item:active {
  opacity: 0.2;
}

.customer-info-item:hover {
  opacity: 0.5;
}

.customer-info-item:active {
  opacity: 0.2;
}

.footer-row {
  padding-top: 23px;
  padding-bottom: 100px;
  border-top: solid 1px #666666;
}

.footer-list {
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
  flex-wrap: wrap;
}

.footer-info {
  display: flex;
  flex-direction: row;
}

.company-rating {
  display: flex;
  flex-direction: row;
}

.company-rating-title {
  padding-right: 24px;
  margin-left: 0;
}


.company-rating:not(:checked) {
	color: #FFFFFF;
}

.company-rating:not(:checked) > label:hover,
.company-rating:not(:checked) > label:hover ~ label {
	color: #C29974;
}

.company-rating > input:checked ~ label {
	color: #C29974;
}

.rating-area {
	overflow: hidden;
	width: 100px;
	margin: 0 auto;
}
.rating-area:not(:checked) > input {
	display: none;
}
.rating-area:not(:checked) > label {
	float: right;
	width: 20px;
	padding: 0;
	cursor: pointer;
	font-size: 20px;
	line-height: 20px;
	color: #FFFFFF;
}
.rating-area:not(:checked) > label:before {
	content: '★';
}
.rating-area > input:checked ~ label {
	color: #C29974;
}
.rating-area:not(:checked) > label:hover,
.rating-area:not(:checked) > label:hover ~ label {
	color: #836E5B;
}
.rating-area > input:checked + label:hover,
.rating-area > input:checked + label:hover ~ label,
.rating-area > input:checked ~ label:hover,
.rating-area > input:checked ~ label:hover ~ label,
.rating-area > label:hover ~ input:checked ~ label {
	color: #836E5B;
}
.rate-area > label:active {
	position: relative;
}

.copyright {
  padding-left: 140px;
  padding-right: 95px;
}

.footer-connect-form:hover {
  border: 1px solid #FFFDFD;
  box-sizing: border-box;
}

.footer-connect-form:active {
  background-color: #FFFFFF;
}

.footer-connect-form {
  width: 321px;
  height: 40px;
  font-size: 16px;
  line-height: 22px;
  color: #EBEBEB;
  padding-left: 15px;
	border: none;
  background-color:  #666666;
}

.button-connect {
  border: none;
  height: 40px;
}

.social-list {
  display: flex;
  padding-top: 25px;
}

.web-developer:hover {
  text-decoration-line: underline;
}

.web-developer:active {
  text-decoration-line: underline;
}

.social-item {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  padding-top: 4px;
  width: 30px; 
  height: 30px;
  flex: 0 0 30px;
  background: #666666;
  border-radius: 50%;
  margin-right: 0.5rem;
}

.social-item:hover {
  opacity: 0.5;
}

.social-item:active {
  opacity: 0.2;
}

.hidden {
	position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding:0 !important;
  border:0 !important;
  height: 1px !important; 
  width: 1px !important; 
  overflow: hidden;
}

