/* poster */


.slider-button {
	background-color: #D6CAC2;
	margin-top: 11px;
	border: none;
	width: 31px;
	height: 3px;
	cursor: pointer;
	margin-left: 3px;
}

.slider-button:hover {
	background-color: #725F5B;
	transition-duration: .5s;
}

.slider-button-active {
	background-color: rgba(30, 6, 6, 0.6);
	margin-top: 10px;
	border: none;
	width: 31px;
	height: 3px;
}

.poster {
	background-color: #EEE4DB;
	margin-top: 70px;
	position: relative;
}

.poster-footer {
  font-weight: bold;
  font-size: 12px;
  line-height: 16px;
  color: #FFFFFF;
	background-color: #C29974;
	text-transform: uppercase;
	height: 39px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.poster__item {
	margin: 0 0 0 131px;
	display: flex;
}

.poster__content {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	margin: 89px 0 89px 0;
	padding: 0;
	padding-left: 1px;
}

.poster-pic {
	position: absolute;
	right: 100px;
	bottom: 39px;
}

.poster-title {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
	line-height: 110%;
	color: #1E0606;
	margin: 0;
	width: 310px;
	padding: 2px 0 19px 0;
}

.poster-text {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-size: 20px;
  line-height: 25px;
	color: #1E0606;
	width: 152px;
	padding-bottom: 19px;
	padding-left: 1px;
}

.poster-button {
	width: 161px;
}

.slider {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
  position: absolute;
	top: 17px;
	left: 28px;
}

.slider-number {
	font-family: 'Montserrat', sans-serif;
  font-weight: 300;
  font-size: 60px;
	color: rgba(30, 6, 6, 0.05);
	padding-bottom: 4px;
}


/*products*/

.products-title {
	font-family: 'Montserrat', sans-serif;
	font-weight: bold;
	font-size: 38px;
	line-height: 46px;
	text-transform: uppercase;
	color: #1E0606;
	margin: 91px 30px 0 0;
}

a:hover > .product-title {
	text-decoration: underline;
}
a:active > .product-title {
	text-decoration: underline;
}

.products-list {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	margin-bottom: 0;
	margin-top: 30px;
}

.product {
	width: 280px;
	height: 270px;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	position: relative;
	margin-bottom: 20px;
}

.product-title {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
	text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
	position: absolute;
	top:50%;
  left:50%;
	transform:translate(-50%, -50%);
	text-align: center;
}

.product-img {
	display: flex;
	justify-content: center;
	align-items: center;
}

.button-blue{
	background-color: rgba(112, 187, 220, 0.2);
}

.about-products {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	
}

.about-products-title {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
	color: #1E0606;
	margin-top: 30px;
	margin-bottom: 20px;
}

.about-item {
	font-family: 'Crimson Text', serif;
	font-style: italic;
	font-size: 26px;
	line-height: 32px;
	color: #1E0606;
	margin-bottom: 23px;
}

.about-item-link:hover:before {
	content: '';
	position: absolute;
	margin-top: -11px;
	left: -60px;
	width: 326px;
  height: 55px;
	background-color: rgba(112, 187, 220, 0.2);
	pointer-events: none;
}

.about-item-link-active {
	padding: 14px 180px 15px 60px;
	margin-left: -60px;
	font-weight: bold;
	background-color: rgba(112, 187, 220, 0.2);
}

.about-item-link:hover {
	font-weight: bold;
}

.about-info {
	margin-top: 29px;
	margin-bottom: 34px;
}

.about-products-box {
	width: 480px;
	margin-right: 100px;
	position: relative;
}

.about-products-pic {
	padding-bottom: 75px;
	padding-right: 20px;
}

/*partners*/

.partners-list {
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
}

.partners {
	padding-bottom: 97px;
}

.partners-item:hover {
	opacity: 0.75;
}

/*about-us, map*/

.map {
	background-color: #E1F0F7;
	max-width: 543px;
	margin-right: 37px;
	margin-bottom: 77px;
	padding: 0 30px 0 30px;
}

.about-us {
	background-color: #E1F0F7;
	max-width: 543px;
	padding: 0 30px 44px 30px;
	margin-bottom: 50px;
}


.about-us-title, .contacts {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
	color: #1E0606;
	margin: -26px 0 0 0;
	padding-bottom: 11px;
}

.contacts {
	padding-bottom: 20px;
}

.about-us-subtitle {
	font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
  color: #1E0606;
}

.about-us-info {
	margin: 0;
	padding-bottom: 30px;
	padding-top: 10px;
}

.contacts-info {
	margin: 0;
	padding-bottom: 20px;
}

.map-pic {
	margin-bottom: -180px;
}

.about-us-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 97px;
}

/* slider */

.slider-text-button {
	max-width: 37px;
	width: 100%;
	padding: 0;
	margin-right: 6px;
	margin-bottom: 6px;
	padding-top: 3px;
	border: none;
}

.slider-text {
	width: 580px;
	margin-left: 14px;
	margin-top: 11px;
}

.slider-category {
	display: flex;
	flex-direction: row;
	padding-bottom: 74px;
	justify-content: start;
	align-items: center;
	padding-left: 0;
}

/*modal window*/


.modal-window {
	font-family: 'Roboto', sans-serif;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
	color: #1E0606;
	background-color: #E5EAF8;
	padding: 22px 40px 42px 40px;
	margin: auto;
	position: relative;
}

.button-gray {
	background: #C1C1C1;
	border: none;
	display: flex;
	margin-top: 20px;
}

.form-checkbox:checked + .form-checkbox-indicator {
  background: url(/images/Check.svg) no-repeat; 
}

.form-checkbox-indicator {
	height: 20px;
	width: 20px;
	border: 2px solid #C29974;
	border-radius: 3px;
	margin-right: 15px;
}

.checkbox-label {
	display: flex;
	align-items: center;
	padding-top: 20px;
	cursor: pointer;
}

.modal-bg {
	position: fixed;
	background-color: rgba(125, 151, 218, 0.8);
	top: 0;
	height: 100vh;
	width: 100vw;
	display: flex;
}

.modal-bg_close {
  display: none;
}

.modal-close {
	border: none;
	background-color: transparent;
	position: absolute;
	top: 0;
	right: -25px;
	padding: 0;
	cursor: pointer;
}
