/*breadcrumbs*/

.breadcrumbs-item {
	font-family: 'Crimson Text', serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
	color: #1E0606;
}

.breadcrumbs-active {
	opacity: 0.5;
}

/*description*/

.products {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  color: #1E0606;
}

.products-list {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #FFFFFF;
  text-shadow: 0px 0px 40px rgba(147, 3, 3, 0.25);
}

.product1 {
	background-color: #DBE4DB;
}

.product2 {
	background-color: rgba(186, 142, 107, 0.3);
}

.product3 {
	background-color: #F8F2DA;
}

.product4 {
	background-color: rgba(9, 3, 79, 0.17);
}

.product5 {
	background-color: rgba(207, 68, 111, 0.25);
}

.product6 {
	background-color: rgba(125, 151, 218, 0.2);
}

.products-info-title {
	font-family: 'Montserrat', sans-serif;
  font-weight: bold;
  font-size: 38px;
  line-height: 46px;
  text-transform: uppercase;
  color: #1E0606;
}
